/*************************************/
/************* VARIABLES *************/
/*************************************/

html {
    --color-repository: #a682e8;
    --color-insertions: #64d6d3;
    --color-insertions-transparent: #64d6d385;
    --color-deletions: #ea9df5;
    --color-merges: #f2a900;
    --color-text: #4d4950;
    --color-background: #f7f7f7;
    --color-gradient: linear-gradient(to right, var(--color-deletions), var(--color-repository), var(--color-insertions)) 1;
}

body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.repository {
    background: var(--color-repository);
    padding: 0.1em 0.3em;
    font-weight: 700;
    color: white
}

.repo-name-only {
    font-style: italic;
}

p {
    line-height: 140%;
    color: var(--color-text);
}

.header {
    text-align: center;
    font-size: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 2em;

    border-bottom: 3px solid var(--color-insertions-transparent);
    /* border-image: var(--color-gradient); */

    @media only screen and (max-width: 600px) {
        /* styles for mobile browsers smaller than 600px; */
        margin-bottom: 1em;
    }
}

/*************************************/
/*************** INTRO ***************/
/*************************************/

#chart-wrapper {
    border-top: 10px solid var(--color-repository);
    border-image: var(--color-gradient);
    margin: 0 auto;
}

#chart-introduction {
    /* Create a linear gradient for the background going from transparent #f7f7f7 to #f7f7f7 downward */
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0) 50%, rgba(247, 247, 247, 1) 100%);
    padding: 3em 5em 0em 5em;
    display: grid;
    justify-content: center;

    @media only screen and (max-width: 600px) {
        padding: 3em 2em 0em 2em;
    }
}

#chart-introduction-content {
    max-width: 1200px;

    display: grid;
    justify-content: center;
    align-items: top;

    grid-template-columns: 1fr 2fr;
    column-gap: 5em;
    row-gap: 5em;

    @media only screen and (max-width: 600px) {
        display: block;
    }
}

#chart-title {
    grid-column-start: 1;
    grid-column-end: 1;
}
#chart-title h1 {
    font-weight: 400;
    font-size: 2.4em;
    font-style: italic;
    margin-bottom: 0.2em; 
    margin-top: 0em;
}
#chart-title h1#title-repo-name {
    font-weight: 700;
    font-size: 2.6em;
    margin-top: 0.2em;
    font-style: normal;
}
#chart-title #last-commit-date {
    font-size: 0.9em;
    padding-top: 1em;
    font-style: italic;
    opacity: 0.6;
    padding-bottom: 3em;
}

#chart-intro-text {
    grid-column-start: 2;
    grid-column-end: 2;
    font-weight: 400;
    font-size: 1.1em;
}

/*************************************/
/******* EXPLANATION / LEGEND ********/
/*************************************/

#chart-explanation {
    border-bottom: 3px solid var(--color-insertions-transparent);
    /* border-image: var(--color-gradient); */
    
    padding-bottom: 1.5em;

    @media only screen and (max-width: 600px) {
        padding-bottom: 0.5em;
    }
}

#legend-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.legend {
    height: 130px;
    width: auto;

    @media only screen and (max-width: 600px) {
        height: 110px;
    }
}

/*************************************/
/************** CREDITS **************/
/*************************************/

#chart-extra {
    position: relative;
    text-align: center;
}

#dataviz-download-data {
    text-align: center;
    background: var(--color-repository);
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.0em;
    font-weight: 700;
    cursor: pointer;
    margin: 1em auto;
}

#dataviz-credit {
    font-style: italic;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    opacity: 0.8;
    font-size: 0.9em;
}

#dataviz-credit a {
    border-bottom: 3px solid var(--color-repository);
    border-image:linear-gradient(to right, var(--color-deletions), var(--color-insertions)) 1;
    /* padding: 0.1em 0.3em; */
    font-weight: 700;
    cursor: pointer;
    color: var(--color-text);
    text-decoration: none;
}

/*************************************/
/*************** CHART ***************/
/*************************************/

/* This is all done within the createORCAVisual function */

/* #chart-container {
    position: relative;
    background-color: var(--color-background);
}

#chart-container canvas {
    display: block;
    margin: 0;
} */

/* #canvas, #canvas-click {
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 0;
    transition: opacity 200ms ease-in;
}

#canvas-hover {
    position: relative;
    z-index: 1
}*/